.titulo{
    text-align: center;
    font-size: 2.5em;
}
.cabecalho{
    background-color: #333;
    color: #fff;
}
.button{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px auto;
  
}
.linha-par{
    background-color: #ddd;
}